<header>
    <div class="container">
        <a href="/" class="logo-title">
            <img src="/images/logo.png" alt="The Tech Blog">
            <span>The Tech Blog</span>
        </a>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                {{#if logged_in}}
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/logout">Logout</a></li>
                {{else}}
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign Up</a></li>
                {{/if}}
            </ul>
        </nav>
    </div>
</header>
